
/****** Object:  Database [NhmK22CNT3_Lesson11]    Script Date: 7/4/2024 9:44:26 AM ******/
CREATE DATABASE [NhmK22CNT3_Lesson11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhmK22CNT3_Lesson11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhmK22CNT3_Lesson11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhmK22CNT3_Lesson11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhmK22CNT3_Lesson11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhmK22CNT3_Lesson11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhmK22CNT3_Lesson11]
GO
/****** Object:  Table [dbo].[NhmCategory]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhmCategory](
	[NhmId] [int] NOT NULL,
	[NhmCateName] [nvarchar](50) NULL,
	[NhmStatus] [bit] NULL,
 CONSTRAINT [PK_NhmCategory] PRIMARY KEY CLUSTERED 
(
	[NhmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhmProduct]    Script Date: 7/4/2024 9:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhmProduct](
	[NhmId2210900037] [nvarchar](50) NOT NULL,
	[NhmProName] [nvarchar](50) NULL,
	[NhmQty] [int] NULL,
	[NhmPrice] [float] NULL,
	[NhmCateId] [int] NULL,
	[NhmActive] [bit] NULL,
 CONSTRAINT [PK_NhmProduct] PRIMARY KEY CLUSTERED 
(
	[NhmId2210900037] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhmCategory] ([NhmId], [NhmCateName], [NhmStatus]) VALUES (1, N'2210900037', 1)
INSERT [dbo].[NhmCategory] ([NhmId], [NhmCateName], [NhmStatus]) VALUES (2, N'Lê Hoàng Long', 1)
GO
INSERT [dbo].[NhmProduct] ([NhmId2210900037], [NhmProName], [NhmQty], [NhmPrice], [NhmCateId], [NhmActive]) VALUES (N'2210900037', N'Lê Hoàng long', 10, 10000, 1, 1)
INSERT [dbo].[NhmProduct] ([NhmId2210900037], [NhmProName], [NhmQty], [NhmPrice], [NhmCateId], [NhmActive]) VALUES (N'S001', N'Lê Hoàng Việt', 5, 10000, 2, 1)
GO
USE [master]
GO
